[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
"beautifulsoup4" = "*"
colorlog = "*"
lxml = "*"
motor = "*"
pyppeteer = "*"
quart = "*"
yarl = "*"
sentry-sdk = "*"
click = "*"
apscheduler = "*"

[requires]
python_version = "3.7"

[dev-packages]
sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinxcontrib-asyncio = "*"
