<tr>
    <td valign="top">
        <div class="di-t w100 mb8" style="background-color:#f6f6f6">
            <div class="di-tc va-m pt4 pb4 pl8">
                <h2 class="fs18 lh11" style="border-width:0 0 0 0; margin:0 30px 0 0; padding:0;">
                    <span class="fw-n">#{{ index + 1 }}<span class="episode_number"></span> - </span>Episode {{ index + 1 }}</h2>
            </div>
            <div id="ep_edit_btn" class="di-tc pt4 pb4 pl8 pr8 ar fn-grey2" style="white-space: nowrap;"><span class="di-ib pb4"><a
                    href="{{ index + 1 }}/edit">Edit</a></span>
            </div>
        </div>
        <div class="contents-video-embed">
            <div class="video-embed clearfix">
                {% include "player.html" %}
            </div>
            <div class="po-r clearfix">
                <a href="javascript:void(0);" class="btn-video-anime-slide hori js-btn-video-anime-slide" data-dir="prev"
                   onclick="let target = $('#vue-video-slide'); target.animate({left: Math.min(0, parseInt(target.css('left')) + 744)}, 500);"><i
                        class="fa fa-arrow-left icon-pos"></i></a>
                <div class="video-anime-slide-block hori">
                    <div class="video-anime-slide-outer js-video-anime-slide-outer" data-slide="3">
                        <ul id="vue-video-slide" class="video-anime-slide js-video-anime-slide">
                            {% for _ in range(episode_count) %}
                                <li class="btn-anime {% if loop.index0 == index %}play{% endif %}">
                                    <a href="{{ loop.index }}" class="link clearfix">
                                        <img src="{{ url_for("static", filename="images/default_poster") }}"
                                             alt=""
                                             class="fl-l" width="100" height="67"><!---->
                                        <div class="text">
                                            {% if loop.index0 == index %}<i class="fa fa-play-circle-o icon-play mr4"></i>{% endif %}
                                            Episode {{ loop.index }}
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="video-loading"><i class="fa fa-spinner fa-pulse fa-3x video-loading-spinner"></i></div>
                    </div>
                </div>
                <a href="javascript:void(0);" class="btn-video-anime-slide hori js-btn-video-anime-slide" data-dir="next"
                   onclick="let target = $('#vue-video-slide'); target.animate({left: Math.max(-target.width() + 744, parseInt(target.css('left')) - 744)}, 500);"><i
                        class="fa fa-arrow-right icon-pos"></i></a>
            </div>
            <div class="di-b ar pt4">
                <a href="../episode" class="">View all episodes</a>
            </div>
        </div>
    </td>
</tr>