<h1>MyAnimeStream</h1>

<div class="settings--section-head">
    Episode settings
</div>

<div class="container">
    <div class="form-group row">
        <label class="col-xs-4 col-form-label">Translation</label>
        <div class="col-xs-8">
            <div id="ember699" class="ember-basic-dropdown ember-view">
                <div id="ember700"
                     aria-owns="ember-basic-dropdown-content-ember699"
                     tabindex="0"
                     data-ebd-id="ember699-trigger"
                     role="button"
                     class="ember-power-select-trigger ember-basic-dropdown-trigger ember-basic-dropdown-trigger--in-place ember-view">

                    <span class="ember-power-select-selected-item">Subbed</span>
                    <span class="ember-power-select-status-icon"></span>
                </div>
                <div id="ember-basic-dropdown-content-ember699" class="ember-basic-dropdown-content-placeholder" style="display: none;"></div>
            </div>
            <small>Interested in helping translate?</small>
        </div>
    </div>
</div>

<div class="form-group row">
    <button class="button button--primary btn-lg btn-block">
        Update Settings
    </button>
</div>