<link href="{{ url_for("static", filename="css/changelog") }}" rel="stylesheet">

<div class="changelog-container">
    <div class="changelog-header">
        MyAnimeStream v<span class="version">{{ to_version }}</span>
    </div>
    <div class="changelog-content">
        {% for category, changes in categories.items() %}
            <div class="changes-category category-{{ category|lower }}">
                <div class="category-title">{{ category }}</div>
                <div class="category-content">
                    {% for change in changes %}
                        <div class="change-text priority-{{ change.priority }}">{{ change.text|safe }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="flex-spacing-element"></div>
    <div class="changelog-footer">
        <button class="close-changelog-btn">Close</button>
    </div>
</div>